.envrc
.DS_Store

node_modules/
.nuxt/
dist/

firestore-service-account.json
androiddagashi-serviceaccount.json

# logs
yarn-error.log

.temp/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
