name: Create New Milestone
on:
  milestone:
    types: [closed]
  workflow_dispatch:

jobs:
  new_milestone:
    name: Create New Milestone
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
      PUSH_ACCESS_TOKEN: ${{ secrets.PUSH_ACCESS_TOKEN }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: master

      # run corepack before setup-node
      # https://github.com/actions/setup-node/issues/899
      - run: corepack enable yarn

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: '.node-version'
          cache: 'yarn'

      - name: yarn install
        run: yarn install

      - name: Create New Milestone if needed
        run: yarn milestone:generate
