name: Check for Pull Request
on:
  pull_request:

concurrency:
  group: ci-pullrequest-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull_request:
    name: Build
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # run corepack before setup-node
      # https://github.com/actions/setup-node/issues/899
      - run: corepack enable yarn

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'
          cache: 'yarn'

      - name: yarn install
        run: yarn install

      - name: lint
        run: yarn lint

      - name: Check if build passes
        run: yarn milestone:buildcheck
