name: Check for Pull Request
on:
  pull_request:

concurrency:
  group: ci-pullrequest-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull_request:
    name: Build
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # run corepack before setup-node
      # https://github.com/actions/setup-node/issues/899
      - run: corepack enable yarn

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.node-version'
          cache: 'yarn'

      - name: yarn install
        run: yarn install

      - name: lint
        run: yarn lint

      - name: Check if build passes
        run: yarn milestone:buildcheck
